html {
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--linkColor);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tile {
  width: 25px;
  height: 25px;
  border: 1px dotted var(--textColor);
}

.Tile.true {
  background-color: var(--primary);
}

:root {
  --textColor: wheat;
  --primaryColor: aqua;
  --linkColor: #61dafb;
  --backgroundColor: #222;
}
